html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  font-size: 12pt;
  font-family: Avenir, Helvetica, Arial;
  font-weight: 300;
  line-height: 1.5;
  background: #fcfcfc;
  color: #222;
}
*, *:before, *:after {
  box-sizing: inherit;
  background-clip: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  background: inherit;
}
.section {
  border-top: 0.5px solid rgb(175,175,175);
}
.header {
  font-size: 14pt;
  font-weight: 400;
  padding: 1em 2rem;
  cursor: pointer;
}
.header:hover { background: #f0f0f0;          }
.header:focus { background: rgb(229,248,226); }
.header                         { display: block; } /* hiding marker: mozilla      */
.header::-webkit-details-marker { display: none;  } /* hiding marker: webkit/blink */
.block {
  padding: 0 0 1rem 0;
}
.item {
  display: block;
  padding-left: 2rem;
  overflow: hidden;
  white-space: nowrap;
}
.item:hover {
  background: #f0f0f0;
}
a:link { text-decoration:inherit; }
a:visited { text-decoration:inherit; }
a:hover { text-decoration:inherit; }
a:active { text-decoration:inherit; }
a:focus { background: rgb(229,248,226); }
* { outline-style:none; outline-width:0px; }
